<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<meta name="Robots" content="noindex,nofollow" />
<roundcube:include file="/includes/links.html" />
</head>
<body>
<roundcube:include file="/includes/bootstrap_js_include.html" />

<div id="login-form" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1>Login</h1>
      </div>
      <roundcube:object name="logo" src="/images/roundcube_logo.png" id="logo" />
      <form name="form" method="post" role="form"> 
        <roundcube:object name="loginform" form="form" size="40" submit=true />
      </form>

    </div>
  <div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <roundcube:object name="message" id="message"/>
        <br>
        <noscript>
            <p class="noscriptwarning"><roundcube:label name="noscriptwarning" /></p>
        </noscript>
    </div>
  </div>

  <div id="bottomline" class="col-md-6 col-md-offset-3">
      <roundcube:var name="config:product_name"> <roundcube:object name="version" condition="config:display_version" />
      <roundcube:if condition="config:support_url" />
          &nbsp;&#9679;&nbsp; <a href="<roundcube:var name='config:support_url' />" target="_blank" ><roundcube:label name="support" /></a>
      <roundcube:endif />
      <roundcube:container name="loginfooter" id="bottomline" />
  </div>
</div>

<script>

$(document).ready(function(){
  //apply bootstrap classes to the input elements
  $("#rcmloginuser").addClass("form-control");
  $("#rcmloginpwd").addClass("form-control");
  $("#rcmloginsubmit").addClass("btn btn-default");

  //get inner html of the table cells
  var labelUser = $("tr .title").eq(0).html();
  var labelPass = $("tr .title").eq(1).html();
  var inputUser = $("tr .input").eq(0).html();
  var inputPass = $("tr .input").eq(1).html();

  //remove the table an replace it with the proper input groups an elements
  $("table").first().replaceWith(
    "<div class='form-group'>"+
    labelUser + inputUser +
    "</div>\n" +
    "<div class='form-group'>" +
    labelPass + inputPass +
    "</div>");

});
</script>



</body>
</html>
